<app-header></app-header>
<main class="bodytodos bodyShowCircuit">
    <div class="botonera">
        <app-switch (click)="changeShort()"></app-switch>
    </div>
    <!-- LongCard si el usuario quiere uno por linea -->
    <!-- <div class="container-fluid longContainer " *ngIf="!short">
        <div *ngFor="let circuit of circuits;" class="my-3 p-3 circuit longCard hoverstyle">
            <div id="imgContain">
                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
            </div>
            <div id="infoContain" class="mx-3">
                <h4 class="carta__titulo">{{circuit.name}}</h4>
                <p class="carta__p">
                    {{circuit
                    .preview}}
                </p>
                <div class="carta__espe">
                    <div class="carta__espe-i"><i class="fas fa-battery-empty "> Dificultad: </i> {{circuit
                        .difficulty}}</div>
                    <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down "> Desnivel: </i>
                        <p> {{circuit
                            .desnivel}}</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-clock"> Duracion: </i>
                        <p>{{circuit
                            .duration}}</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-hiking"> Distancia: </i>
                        <p>{{circuit
                            .distance}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div> -->

    <div class="container-fluid longContainer" *ngIf="!short">
        <div *ngFor="let circuit of circuits;" class="my-3 p-3 circuit longCard hoverstyle">
            <button class="btn btn-link" style="width: 100%; text-decoration: none">
                <div class="card border-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <!-- <div class="imgContain">
                                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
                            </div> -->
                            <div class="imgContain">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                                    data-bs-interval="3000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item" *ngFor="let img of photos; let i = index"
                                            [class.active]="i === 0">
                                            <img [src]="img" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8" (click)="redirectToCircuit(circuit)">
                            <div class="card-body">
                                <h4 class="carta__titulo">{{circuit.name}}</h4>
                                <p class="carta__p">
                                    {{circuit.preview}}
                                </p>
                                <div class="carta__info">
                                    <div class="container-fluid">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-battery-empty "></i>
                                                    Dificultad:
                                                    {{circuit.difficulty}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-arrow-alt-circle-down "></i>
                                                    Desnivel:
                                                    {{circuit.desnivel}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-clock"></i> Duracion:
                                                    {{circuit.duration}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-hiking"></i> Distancia:
                                                    {{circuit.distance}}</p>
                                            </div>
                                        </div>
                                        <!-- <p class="text-uppercase"><i class="fas fa-battery-empty "></i> Dificultad:
                                            {{circuit.difficulty}}</p>
                                        <p class="text-uppercase"><i class="fas fa-arrow-alt-circle-down "></i> Desnivel:
                                            {{circuit.desnivel}}</p>
                                        <p class="text-uppercase"><i class="fas fa-clock"></i> Duracion:
                                            {{circuit.duration}}</p>
                                        <p class="text-uppercase"><i class="fas fa-hiking"></i> Distancia:
                                            {{circuit.distance}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>

    <!-- shortCard si el usuario quiere uno por linea-->

    <div class="container-fluid shortContainer" *ngIf="short">
        <div *ngFor="let circuit of circuits;" class="my-3 p-3 circuit shortCard hoverstyle">
            <button class="btn btn-link" style="width: 100%; text-decoration: none">
                <!-- <div class="card border-0">
                    <div class="row g-0">
                        <div class="col">
                            <div class="imgContain">
                                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
                            </div> 

                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item" *ngFor="let img of photos; let i = index"
                                    [class.active]="i === 0">
                                    <img [src]="img" alt="...">
                                  </div>
                                </div>  
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                  data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                  data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </div>
                        <div class="col" (click)="redirectToCircuit(circuit)">
                            <div class="card-body">
                                <h4 class="carta__titulo">{{circuit.name}}</h4>
                                <p class="carta__p">
                                    {{circuit.preview}}
                                </p>
                                <div class="carta__info">
                                    <div class="container-fluid">
                                        <div class="row ">
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-battery-empty "></i>
                                                    Dificultad:
                                                    {{circuit.difficulty}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-arrow-alt-circle-down "></i>
                                                    Desnivel:
                                                    {{circuit.desnivel}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-clock"></i> Duracion:
                                                    {{circuit.duration}}</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-uppercase"><i class="fas fa-hiking"></i> Distancia:
                                                    {{circuit.distance}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="card border-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let img of photos; let i = index"
                                [class.active]="i === 0">
                                <img [src]="img" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" (click)="redirectToCircuit(circuit)">
                        <h4 class="carta__titulo">{{circuit.name}}</h4>
                        <p class="carta__p">
                            {{circuit.preview}}
                        </p>
                        <div class="carta__info">
                            <div class="container-fluid">
                                <div class="row ">
                                    <div class="col">
                                        <p class="text-uppercase"><i class="fas fa-battery-empty "></i>
                                            Dificultad:
                                            {{circuit.difficulty}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-uppercase"><i class="fas fa-arrow-alt-circle-down "></i>
                                            Desnivel:
                                            {{circuit.desnivel}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-uppercase"><i class="fas fa-clock"></i> Duracion:
                                            {{circuit.duration}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-uppercase"><i class="fas fa-hiking"></i> Distancia:
                                            {{circuit.distance}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </button>
        </div>
    </div>

    <!-- <div class="container-fluid shortContainer" *ngIf="short">
        <div *ngFor="let circuit of circuits;" class=" p-3 circuit shortCard hoverstyle">
            <div id="imgContain__short">
                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
            </div>
            <div id="infoContain__short" class="short__info" class="mx-3">
                <h4 class="carta__titulo">{{circuit.name}}</h4>
                <p class="carta__p">
                    {{circuit
                    .preview}}
                </p>
                <div class="carta__espe short__espe">
                    <div class="carta__espe-i"><i class="fas fa-battery-empty "></i> {{circuit
                        .difficulty}}</div>
                    <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down "> </i>
                        <p> {{circuit
                            .desnivel}} mts</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-clock"></i>
                        <p>{{circuit
                            .duration}} Horas</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-hiking"> </i>
                        <p>{{circuit
                            .distance}} KM </p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngFor="let circuit of circuits;" class=" p-3 circuit shortCard hoverstyle">
            <div id="imgContain__short">
                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
            </div>
            <div id="infoContain__short" class="short__info" class="mx-3">
                <h4 class="carta__titulo">{{circuit.name}}</h4>
                <p class="carta__p">
                    {{circuit
                    .preview}}
                </p>
                <div class="carta__espe short__espe">
                    <div class="carta__espe-i"><i class="fas fa-battery-empty "></i> {{circuit
                        .difficulty}}</div>
                    <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down "> </i>
                        <p> {{circuit
                            .desnivel}} mts</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-clock"></i>
                        <p>{{circuit
                            .duration}} Horas</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-hiking"> </i>
                        <p>{{circuit
                            .distance}} KM </p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngFor="let circuit of circuits;" class=" p-3 circuit shortCard hoverstyle">
            <div id="imgContain__short">
                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
            </div>
            <div id="infoContain__short" class="short__info" class="mx-3">
                <h4 class="carta__titulo">{{circuit.name}}</h4>
                <p class="carta__p">
                    {{circuit
                    .preview}}
                </p>
                <div class="carta__espe short__espe">
                    <div class="carta__espe-i"><i class="fas fa-battery-empty "></i> {{circuit
                        .difficulty}}</div>
                    <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down "> </i>
                        <p> {{circuit
                            .desnivel}} mts</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-clock"></i>
                        <p>{{circuit
                            .duration}} Horas</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-hiking"> </i>
                        <p>{{circuit
                            .distance}} KM </p>
                    </div>
                </div>
            </div>

        </div>
        <div *ngFor="let circuit of circuits;" class=" p-3 circuit shortCard hoverstyle">
            <div id="imgContain__short">
                <app-carrousel [id]="circuit.id" [images]="circuit.photos"></app-carrousel>
            </div>
            <div id="infoContain__short" class="short__info" class="mx-3">
                <h4 class="carta__titulo">{{circuit.name}}</h4>
                <p class="carta__p">
                    {{circuit
                    .preview}}
                </p>
                <div class="carta__espe short__espe">
                    <div class="carta__espe-i"><i class="fas fa-battery-empty "></i> {{circuit
                        .difficulty}}</div>
                    <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down "> </i>
                        <p> {{circuit
                            .desnivel}} mts</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-clock"></i>
                        <p>{{circuit
                            .duration}} Horas</p>
                    </div>
                    <div class="carta__espe-i"><i class="fas fa-hiking"> </i>
                        <p>{{circuit
                            .distance}} KM </p>
                    </div>
                </div>
            </div>

        </div>
    </div> -->




</main>
<app-footer></app-footer>