<input id="checkbox_toggle" type="checkbox" class="check">
<div class="checkbox">
  <label class="slide" for="checkbox_toggle">
    <label class="toggle" for="checkbox_toggle"></label>
    <label class="text" for="checkbox_toggle"><i *ngIf="!first" class="fa-solid fa-list" style="color: whitesmoke;"></i><b *ngIf="first">{{first}}</b></label>
    <label class="text" for="checkbox_toggle"><i *ngIf="!first" class="fa-solid fa-table-cells-large" style="color: whitesmoke;" aria-hidden="true"><b *ngIf="first">{{second}}</b></i></label>
  </label>
</div>