.checkbox {
    width: 223px;
    height: 60px;
    /* background-color: #d0d0d0; */
    background-color: var(--color-extra);
    border-radius: 30px;
    position: relative;
    color: black;
    overflow: hidden;
  }
  
  #checkbox_toggle {
    display: none;
  }
  
  .checkbox .toggle {
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(40deg, var(--color-main), var(--color-layouts) 70%);
    transition: 0.4s;
     box-shadow: -0px -0px 10px var(--color-layouts), -0px -0px 3px var(--color-layouts);
  }
  
  .checkbox .slide {
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .checkbox .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
  }
  
  .check:checked + .checkbox .slide .toggle {
    transform: translateX(113px);
    background: linear-gradient(40deg, var(--color-layouts), var(--color-main) 70%);
    box-shadow: -0px -0px 10px var(--color-layouts), -0px -0px 3px var(--color-layouts);
  }
  
  /* .check:checked + .checkbox .slide {
    background-color: #0a1929;
    color: #fff;
  } */