<div class="bodytodos"> 
  <app-header></app-header>
    <div class="flexcon">
      <div class="flexcon__titulo">
        <h1>{{ circ.name }}</h1>
      </div>
      <div class="flexcon__img__descip">
        <div class="flexcon__imagenes">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let img of circ.photos; let i = index"
                [class.active]="i === 0">
                <img [src]="img" class="d-block w-100 carrousel__img" alt="...">
              </div>
            </div>  
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
  
        <div class="flexcon__descripcion">
          <div class="descripcion" [innerHTML]="sanitizeDescription(circ.descripcion)"></div>
        </div>
      </div>
      <div class="flexcon__propiedades">
        <div class="celda">
          <i class="fas fa-battery-full"></i>
          <p class="celda__t">Dificultad:</p>
          <p>{{ circ.dificultad }}</p>
        </div>
        <div class="celda">
          <i class="fas fa-arrow-alt-circle-down"></i>
          <p class="celda__t">Desnivel:</p>
          <p>{{ circ.desnivel }} mts</p>
        </div>
        <div class="celda">
          <i class="fas fa-clock"></i>
          <p class="celda__t">Duracion:</p>
          <p>{{  transformTime(circ.duracion) }} </p>
        </div>
        <div class="celda">
          <i class="fas fa-cloud-rain"></i>
          <p class="celda__t">Operable:</p>
          <p>{{ circ.operable }}</p>
        </div>
        <div class="celda">
          <i class="fas fa-map-marker-alt"></i>
          <p class="celda__t">Region:</p>
          <p>{{ circ.region }}</p>
        </div>
        <div class="celda">
          <i class="fas fa-hiking"></i>
          <p class="celda__t">Distancia:</p>
          <p>{{ circ.distancia }} KM</p>
        </div>
        <a (click)="enviarwpp(circ.name)" class="celda" href="">
          <div><i class="fab fa-whatsapp"></i>
            <p class="celda__t">Consulte por wpp</p>
          </div>
        </a>
        <a class="celda" href="">
          <i class="fab fa-instagram"></i>
          <p class="celda__t">Consulte por IG</p>
        </a>
      </div>
    </div>
    <section class="VideosYtitulo">
      <h3 class="flexcon__titulo" style="color: var(--color-back);"> Una mirada desde dentro de la Travesia</h3>
      <div id="containerVideos">
        <div class="vidBox">
          <p class="Vid__titulo">Día 1</p>
          <iframe class="videoFrame"  src="https://www.youtube.com/embed/KVcTKdmbIWQ" title="Travesía Jujuy | Tilcara - San Francisco | DÍA 1 : Mezcla de emociones" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="vidBox">
          <p class="Vid__titulo">Día 2</p>
          <iframe class="videoFrame"  src="https://www.youtube.com/embed/d7S1mCnEi2k" title="DÍA 2 : Molulo - Travesía Jujuy | Tilcara - San Francisco |" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
      </div>
     
      
    </section>

    <section class="flexcon">
      <section>
        <h2>La Intensidad:</h2>
        <p>Esta travesía no es solo una caminata; es un desafío. Con una intensidad clasificada como alta, estamos
          diseñados para aquellos que buscan más que un simple paseo. Requiere actividad física regular, pero cada gota de
          sudor se verá recompensada con vistas impresionantes y una conexión única con la naturaleza.</p>
      </section>

      <section>
        <h2>Precio:</h2>
        <p>Argentinos por persona: $380 ARS<br> Extranjeros: $700 USD</p>
      </section>
    
      <section>
        <h2>Fechas Disponibles:</h2>
        <p>Abril, Junio, Agosto y Octubre de 2024.</p>
      </section>
    
      <section>
        <h2>Prepárate para la Aventura:</h2>
        <p>Cada paso de esta travesía está cargado de autenticidad y descubrimientos. Acompáñanos mientras exploramos los
          rincones menos conocidos de Jujuy. Para tener una vista más cercana, disfruta de los videos de nuestra embajadora
          en YouTube, [Nombre de la YouTuber], quien ha capturado la esencia de esta travesía desde adentro.</p>
        <p><strong>¡Reserva tu lugar y únete a nosotros para una experiencia que va más allá de lo ordinario! Descubre la
            verdadera maravilla de Jujuy con Canela Trekking.</strong></p>
      </section>


    </section>



  
    <app-footer></app-footer>
  

  </div>
