<p>home works!</p>
<main class="bodytodos" >
    <div class="titulos">
      <h1 class="titulos__h1">Canela Trekking Jujuy</h1>
      <h2 class="titulos__h2">{{ titulo }}</h2>
    </div>
  
    <!--Todos los circuitos-->
    <a *ngFor="let circ of circuitos" [routerLink]="['/circuito', circ.id]" class="a_carta">
      <div class="carta">
        <!--caarrousel hecho con boostrap-->
        <div id="carouselExampleControls" class="carousel slide carta__img" data-bs-ride="carousel">
          <div class="carousel-innercarta__img">
            <div class="carousel-item active caruseldiv">
              <img [src]="'data:;base64,' + circ.fotos[0]" class="carta__img" alt="...">
            </div>
            <div class="carousel-item caruseldiv">
              <img [src]="'data:;base64,' + circ.fotos[0]" class="carta__img" alt="...">
            </div>
            <div class="carousel-item caruseldiv">
              <img [src]="'data:;base64,' + circ.fotos[0]" class="carta__img" alt="...">
            </div>
          </div>
        </div>
        <!--caarrousel hecho con boostrap-->
  
        <h4 class="carta__titulo">{{ circ.name }}</h4>
        <p class="carta__p">{{ circ.preview }}</p>
        <div class="carta__espe">
          <div class="carta__espe-i"><i class="fas fa-battery-empty"> Dificultad: </i><p>{{ circ.dificultad }}</p></div>
          <div class="carta__espe-i"><i class="fas fa-arrow-alt-circle-down"> Desnivel: </i><p>{{ circ.desnivel }} mts</p></div>
          <div class="carta__espe-i"><i class="fas fa-clock"> Duracion: </i><p>{{ circ.duracion }} Hs</p></div>
          <div class="carta__espe-i"><i class="fas fa-hiking"> Distancia: </i><p>{{ circ.distancia }} Km</p></div>
        </div>
      </div>
    </a>
  </main>