<div class="bodytodos">
  <app-header></app-header>

  <div class="flexcon">

    <header class="banner-titulo">
      <h1 class="text-uppercase">{{ circ.name }}</h1>
      <img src="{{circ.photos[0]}}" alt="">
    </header>

    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active custom-button" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true">Detalles</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link custom-button" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
          role="tab" aria-controls="profile-tab-pane" aria-selected="false">Fotos</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="descripcion">
          <p>{{circ.description}}</p>
        </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        
        <div class="container">
          <div class="row">
            <ng-container *ngFor="let img of circ.photos; let i = index">
              <div class="col-md-4 mb-3">
                <!-- Button trigger modal -->
                <button class="btn btn-link" style="width: 100%; text-decoration: none" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + i">
                  <img src="{{img}}" alt="" class="img-fluid">
                </button>
              
                <!-- Modal -->
                <div class="modal fade" [id]="'exampleModal' + i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" style="background-color: var(--color-layouts);">
                      <div class="modal-body">
                        <img src="{{img}}" alt="" class="img-gallery">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix d-md-none"></div> <!-- Este div se mostrará solo en dispositivos móviles -->
              <div class="clearfix d-none d-md-block" *ngIf="(i + 1) % 3 === 0"></div> <!-- Este div se mostrará solo en dispositivos mayores o iguales a md -->
            </ng-container>
          </div>
        </div>
        
      </div>
    </div>

    <div class="flexcon__propiedades">
      <div class="celda">
        <i class="fas fa-battery-full"></i>
        <p class="celda__t">Dificultad:</p>
        <p>{{ circ.difficulty }}</p>
      </div>
      <div class="celda">
        <i class="fas fa-arrow-alt-circle-down"></i>
        <p class="celda__t">Desnivel:</p>
        <p>{{ circ.desnivel }} mts</p>
      </div>
      <div class="celda">
        <i class="fas fa-clock"></i>
        <p class="celda__t">Duracion:</p>
        <p>{{ transformTime(circ.duration) }} </p>
      </div>
      <div class="celda">
        <i class="fas fa-cloud-rain"></i>
        <p class="celda__t">Operable:</p>
        <p>{{ circ.operable }}</p>
      </div>
      <div class="celda">
        <i class="fas fa-map-marker-alt"></i>
        <p class="celda__t">Region:</p>
        <p>{{ circ.region }}</p>
      </div>
      <div class="celda">
        <i class="fas fa-hiking"></i>
        <p class="celda__t">Distancia:</p>
        <p>{{ circ.distance }} KM</p>
      </div>
      <a (click)="enviarwpp(circ.name)" class="celda" href="">
        <div><i class="fab fa-whatsapp"></i>
          <p class="celda__t">Consulte por whatsapp</p>
        </div>
      </a>
      <a class="celda" href="">
        <i class="fab fa-instagram"></i>
        <p class="celda__t">Consulte por instagram</p>
      </a>
    </div>
  </div>


  <div class="contenedor-random">
    <app-related-circuits></app-related-circuits>
  </div>

  <app-footer></app-footer>
</div>