body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("../../../assets/backgroundAll.webp");
    background-size: cover;
    background-attachment: fixed;
}
#logo{
    max-width: 70%;
}
header {
    background-color: #0d5262;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.container {
    background-color: #9fb9c5b7;
    max-width: 960px;
    margin: 16px auto;
    border-radius: 6px;
    padding: 2rem;
    animation: aparicion 5s
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
p {
    font-size: 1.2rem;
}
.cta-btn {
    display: inline-block;
    background-color: #5192ac;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.6s;
}
.cta-btn:hover {
    background-color: #376f87;
}

#socios--list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  list-style: none;
  margin: 0;
  align-items: center;
}
#socios--list li{
  aspect-ratio: 1/1;
  height: 76px;
  margin: 0 8px
}
.socios--list--img{
  height: 100%;
}


.container:hover {
  box-shadow: 8px 6px 1px var(--color-foot);
  transition: box-shadow .7s;
}


.koa--cont{
  display: flex;
  flex-direction: row;
  font-size: medium;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.koa--cont-img img{
  aspect-ratio: 3/4;
  max-width: 400px;
  border-radius: 9px;
}
.koa--cont-text{
  max-width: 45%;
  font-weight: 600;
}

/*estilos boton*/
/* styles.css */
.container__buttons{
  display: flex;
  flex-wrap: wrap;
}
.bookmarkBtn {
    min-width: 160px;
    margin: 6px;
    height: 40px;
    max-width: 100%;
    border-radius: 40px;
    border: 1px solid #0a618431;
    background-color:  #5192ac;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
  }
  
  .IconContainer {
    color: white;
    width: 30px;
    height: 30px;
    background:  #0d5262 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  /* #icon_wpp{
    background: linear-gradient(to bottom, rgb(136, 255, 182),rgb(92, 255, 70));
  }
  #icon_ig{
    background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
  } */
  
  .icon {
    border-radius: 1px;
  }
  
  .btn__txt {
    height: 100%;
    flex-grow: 1; /* Ocupa el espacio disponible */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
    margin: 0;
    white-space: nowrap; /* Evita que el texto se desborde */
    overflow: hidden; /* Oculta el texto que no quepa */
  }
  
  .bookmarkBtn:hover .IconContainer {
   
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .btn__txt {
    flex-grow: 0; /* Deshabilita el crecimiento del texto */
    width: 0;
    font-size: 0;
    padding: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }
  
  @media (max-width: 640px){
 
    .container__buttons{
        justify-content: center;
    }
    .koa--cont-img img{
      max-width: 60%;
    }
    .koa--cont-text{
      max-width: 100%;
      font-weight: 400;

    }
    #koa{
      justify-content: center;
    }
    #socios--list{
      height: auto;
    }
 }



