:root{
    --color-hovcarta: rgba(213, 165, 76, .95);
    --color-back: rgb(90, 74, 20);
    --color-main: rgb(181 166 129);
    --color-carta: rgba(223, 202, 164, 0.8);
    --color-titulo: #ffffff;
    --color-subtitulo:rgb(44 44 44);
    --color-foot: rgb(181, 166, 129, .8);
    --color-contactenos: rgba(197, 166, 87, 0.8);
    --fondo-foto:  url(https://t1.ev.ltmcdn.com/es/posts/5/8/7/puna_que_es_caracteristicas_flora_y_fauna_2785_orig.jpg);
}
