.banner-container {
  height: 93vh;
  width: 100%;
  overflow: hidden;
  /* background-image: var(--fondo-foto); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000061;
}

.banner-container h1,
.banner-container h6{
  text-align: center;
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.banner-container p {
  text-align: center;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.banner-container h1 {
  padding: 8px;
  font-size: 8vh;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--color-extra);
}

.banner-container h6 {
  padding: 5px;
  font-size: 3vh;
}

/* .translate-middle {
  transform: translate(-50%, 200%) !important;
} */

@media screen and (max-width: 428px) {
  .translate-middle {
    transform: translate(-50%, 100%) !important;
  }
}