<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            Soy Coro Jose Luis, un guía turístico idóneo y prestador de turismo activo con base en Jujuy, Argentina. Con una pasión por la naturaleza y un profundo conocimiento de la región, he estado ofreciendo experiencias inolvidables de trekking durante más de 8 años.
            Como guía turístico certificado, mi objetivo es ofrecerte un viaje seguro y enriquecedor a través de los hermosos paisajes de Jujuy. Mi experiencia en primeros auxilios en entornos rurales garantiza tu seguridad mientras exploras los tesoros ocultos de la provincia.
            Si buscas emocionantes aventuras, encuentros auténticos con comunidades locales y una conexión profunda con la naturaleza, ¡has llegado al lugar indicado!
          </p>
        </div>

        
        <div class="col-xs-6 col-md-3">
          <h6>Credenciales Oficiales</h6>
          
              <p><strong>Guía Provincial Idoneo:</strong> Legajo N.° 14/23</p>
              <p><strong>Prestador de Turismo Activo:</strong> Legajo N.° 19/19</p>
              <p><strong>Legajo agencia de turismo Nacional :</strong> 18880 </p>
              
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contactanos</a></li>
            <li><a href="https://tramitesadistancia.gob.ar/tramitesadistancia/detalle-tipo?id=624">Denuncia contra una agencia</a></li>
            <li><a href="https://wa.me/543885148856">Reclamos</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> Desde 2014, conociendo Jujuy juntos 
       <a href="#">Canela Trekking</a>.
          </p>
          <p class="copyright-text"> Desarrollado por 
            <a target="_blank" href="mailto:juanmcoro2003@gmail.com">Reader Juan</a>.
               </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
            <li><a class="twitter" href="https://wa.me/543885148856"><i class="fa-brands fa-whatsapp"></i></a></li>
            <li><a class="dribbble" href="https://www.instagram.com/canela.trekking.jujuy/"><i class="fa-brands fa-instagram"></i></a></li>
            <!-- <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>    -->
          </ul>
        </div>
      </div>
    </div>
</footer>