.circuit {
    display: flex;
    flex-direction: row;
    background-color: var(--color-carta);
    border-radius: 12px;
}
.botonera{
}

.bodyShowCircuit {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

