#container{
background: linear-gradient(to left, #159A9C, #ffffff);
display: flex;
padding: 0;

height: 100vh;
align-items: center;
width: 100vw;
justify-content: center;
overflow-y: hidden;
overflow-x: hidden;
}
.hijo{
    height: 90dvh;
    }
#navbar{
    width: 25dvw;
}
#form{
    width: 70dvw;
}